


body{
  background-color:#7CB0C6;
  color:#3A3A3A;
  font-size:28px;
  padding: 45px;
  text-align:center;
}
.white-box{
 background:#FFFFFF;
 border-radius:25px;
 display:inline-block;
 width:50%;
}
div{
  margin:23px;
}
button{
  background-color: #FFFFFF;
  border: solid 2px #;
  color: #3A3A3A;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 25px;
  width: 100%;
}
button:hover{
  background: #5783DB;
  color: #FFFFFF;
}

